* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(156, 131, 131);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-wrapper1 {
    width: 350px;
    height: 350px;
    border: 1px solid;
    border-radius: 50%;
    background-color: rgb(231, 255, 123);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 10px;
    margin-top: 20px;
}

.line {
    height: 350px;
    width: 1px;
    background-color: black;
    position: absolute;
    text-align: center;

}

.line2 {
    transform: rotate(11.5deg);
}
.line3 {
    transform: rotate(22.5deg);
}
.line4 {
    transform: rotate(34deg);
}
.line5 {
    transform: rotate(45.5deg);
}
.line6 {
    transform: rotate(57deg);
}
.line7 {
    transform: rotate(68.5deg);
}
.line8 {
    transform: rotate(80deg);
}
.line9 {
    transform: rotate(91.5deg);
}
.line10 {
    transform: rotate(103deg);
}
.line11 {
    transform: rotate(114.5deg);
}
.line12 {
    transform: rotate(126deg);
}
.line13 {
    transform: rotate(137.5deg);
}
.line14 {
    transform: rotate(149.5deg);
}
.line15 {
    transform: rotate(160.5deg);
}
.line16 {
    transform: rotate(172deg);
}
.line17 {
    transform: rotate(183.5deg);
}
.line18 {
    transform: rotate(195deg);
}
.line19 {
    transform: rotate(206.5deg);
}
.line20 {
    transform: rotate(218deg);
}
.line21 {
    transform: rotate(229.5deg);
}
.line22 {
    transform: rotate(241deg);
}
.line23 {
    transform: rotate(252.5deg);
}
.line24 {
    transform: rotate(264deg);
}
.line25 {
    transform: rotate(275.5deg);
}
.line26 {
    transform: rotate(287deg);
}
.line27 {
    transform: rotate(298.5deg);
}
.line28 {
    transform: rotate(310deg);
}
.line29 {
    transform: rotate(321.5deg);
}
.line30 {
    transform: rotate(333deg);
}
.line31 {
    transform: rotate(344.5deg);
}

.clock-wrapper2 {
    width: 290px;
    height: 290px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    text-align: center;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 2px solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    position: absolute;
    width: 280px;
    height: 280px;
    font-size: 1.5rem;
    padding: 5px;
}
/* number wrapper rotation */
.number1 {
    transform: rotate(30deg);
}

.number2 {
    transform: rotate(60deg);
}
.number3 {
    transform: rotate(90deg);
}
.number4 {
    transform: rotate(120deg);
}
.number5 {
    transform: rotate(150deg);
}
.number6 {
    transform: rotate(180deg);
}
.number7 {
    transform: rotate(210deg);
}
.number8 {
    transform: rotate(240deg);
}
.number9 {
    transform: rotate(270deg);
}
.number10 {
    transform: rotate(300deg);
}
.number11 {
    transform: rotate(330deg);
}
.number12 {
    transform: rotate(360deg);
}

/* individual number rotation */
.num1 {
    transform: rotate(-30deg);
}
.num2 {
    transform: rotate(-60deg)
}
.num3 {
    transform: rotate(-90deg);
}
.num4 {
    transform: rotate(-120deg)
}
.num5 {
    transform: rotate(-150deg);
}
.num6 {
    transform: rotate(-180deg);
}
.num7 {
    transform: rotate(-210deg);
}
.num8 {
    transform: rotate(-240deg);
}
.num9 {
    transform: rotate(-270deg);
}
.num10 {
    transform: rotate(-300deg);
}
.num11 {
    transform: rotate(-330deg);
}

.second-hand {
    width: 2px;
    height: 130px;
    background-color: #000;
    position: absolute;
    top: 10px;
}

.minute-hand {
    width: 5px;
    height: 100px;
    background-color: #000;
    position: absolute;
    top: 40px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transform: rotate(120deg);
    transform-origin: bottom;
}

.hour-hand {
    width: 10px;
    height: 70px;
    background-color: #000;
    position: absolute;
    top: 70px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transform: rotate(30deg);
    transform-origin: bottom;
}

.leftsquare {
    font-size: 5rem;
    font-weight: 500;
    position: absolute;
    left: 48.5%;
    top: 35%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
    transform-origin: center;
    animation: rotatesqu 1s infinite;
}

.clock-center-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    z-index: 5;
}

@keyframes rotatesqu {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(96deg);
    }
    0% {
        transform: rotate(90deg);
    }
}


.animation-wrapper1 {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 255, 150, .5);
    z-index: 6;
    position: absolute;
    margin-top: -30px;
    animation: anime1 2s 1 forwards;
}

@keyframes anime1 {
    0% {
        width: 100vw;
        height: 100vh;
    } 100% {
        width: 0;
        height: 0;
    }
}
.animation-wrapper2 {
    width: 100vw;
    height: 100vh;
    background-color: rgba(67, 107, 90, 0.3);
    z-index: 7;
    position: absolute;
    margin-top: -30px;
    animation: anime2 2s 1 0.5s forwards;
}

@keyframes anime2 {
    0% {
        width: 100vw;
        height: 100vh;
    } 100% {
        width: 0;
        height: 0;
    }
}
.animation-wrapper3 {
    width: 100vw;
    height: 100vh;
    background-color: rgba(13, 73, 48, 0.2);
    z-index: 8;
    position: absolute;
    margin-top: -30px;
    animation: anime3 2s 1 1s forwards;
}

@keyframes anime3 {
    0% {
        width: 100vw;
        height: 100vh;
    } 100% {
        width: 0;
        height: 0;
    }
}
